.taille
{
	margin-top: 2%;
	margin-bottom: 20%;
	
	padding-bottom: 4%;
	padding-top:3%;
	
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	background-color: white;
	font-weight: bold;
	padding-left: 0px;
	padding-right: 0px;
}

.lien
{
  color : darkblue;
}

.lien:hover
{
	color:red;
}