body
{
  max-width: 100%;
  !padding-top: 1%;
  background-color: #eee;
}

.panel {
    background: white;
    margin: 8px 5px;
    padding: 16px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}

input.form-control {
    background: #f9f9f9;
}

input.form-control:focus {
    !box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4);
}
.form-control[aria-invalid="true"] {
    background-color: #fff;
    border-color: #80bdff;
    !box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4);
    !border-right: 0;
    !box-shadow: -0.1rem 0.1rem 0 0.1rem rgba(255, 0, 0, 0.4), -0.1rem -0.1rem 0 0.1rem rgba(255, 0, 0, 0.4);
    !box-shadow: 0.2rem 0 0 0 rgba(0,0,0,0), 0 0 0 0.2rem rgba(255, 0, 0, 0.4);
    !box-shadow: 0 -6px white, 0 6px white, 7px 0 4px -3px black,  -7px 0 4px -3px black;
    !box-shadow: -0.2rem 0 0 0 rgba(255, 0, 0, 0.4), 0.2rem 0 0 -0.2rem rgba(0, 0, 0, 0), 0 -0.2rem 0 0.2rem rgba(255, 0, 0, 0.4), 0 0.2rem 0 0 rgba(255, 0, 0, 0.4);
}

.input-group[aria-invalid="true"] {
    !background-color: #fff;
    !border-color: #80bdff;
    !box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4);
}

.form-control[aria-invalid="true"] + .input-group-addon {
    !box-shadow: 0.2rem 0 0 0 rgba(255, 0, 0, 0.4), 0 0.2rem 0 0 rgba(255, 0, 0, 0.4), 0 -0.2rem 0 0 rgba(255, 0, 0, 0.4);
}

input {
    padding: 6px;
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    font-family: "Arial Black";
    border: 1px solid #777;
    outline: none;
}

input:after {
    content: '€';
}

select {
    padding: 6px;
    font-size: 14px;

    border-radius: 3px;
    font-family: "Arial Black";
    border: 1px solid #777;
}

textarea {
    resize: none;
    padding: 6px;
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    font-family: "Arial Black";
    border: 1px solid #777;
}

.input-group-focus {
  border-radius:4px;
  -webkit-transition: box-shadow ease-in-out .15s;
          transition: box-shadow ease-in-out .15s;
}
.input-group-addon {
  -webkit-transition: border-color ease-in-out .15s;
          transition: border-color ease-in-out .15s;
}
.input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
.has-error.input-group.input-group-focus,
.has-error .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}
.has-warning.input-group.input-group-focus,
.has-warning .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
}
.has-success .input-group.input-group-focus,
.has-success .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
}
.input-group-focus input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.input-group-focus .input-group-addon {
  border-color: #66afe9 !important;
}
.has-error .input-group-addon {
  border-color: #843534 !important;
}
.has-success .input-group-addon {
  border-color: #2b542c !important;
}
.has-warning .input-group-addon {
  border-color: #66512c !important;
}

.form-control[aria-invalid="true"] + .input-group-addon {
  border-color: #843534 !important;
}

.has-error.input-group.input-group-focus,
.has-error .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}



textarea:focus {
    background: #fff;
    outline: none;
}
