body
{
  max-width: 100%;
  !padding-top: 1%;
  background-color: #eee;
}

.panel {
    background: white;
    margin: 8px 5px;
    padding: 16px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}

.form-control {
    background: #f9f9f9;
}

.input-group {
    border-radius: 4px;
}

.form-control[aria-invalid="true"]:not(.input-group > .form-control[aria-invalid="true"]) {
    border-color: #ff9b9b;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

input {
    padding: 6px;
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    font-family: "Arial Black";
    border: 1px solid #777;
    outline: none;
}

input:after {
    content: '€';
}

select {
    padding: 6px;
    font-size: 14px;

    border-radius: 3px;
    font-family: "Arial Black";
    border: 1px solid #777;
}

textarea {
    resize: none;
    padding: 6px;
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    font-family: "Arial Black";
    border: 1px solid #777;
}

.input-group-focus {
    -webkit-transition: box-shadow ease-in-out .15s;
    transition: box-shadow ease-in-out .15s;
}

.input-group-addon {
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.input-group-focus:not(.input-group-invalid) {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-group.input-group-invalid {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.input-group-focus input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #fff;
}
.input-group-focus .input-group-addon {
  border-color: #66afe9 !important;
}

.input-group-invalid .input-group-addon, .input-group-invalid input {
  border-color: #ff9b9b !important;
}



textarea:focus {
    background: #fff;
    outline: none;
}
