.taille
{
	margin-top: 7%;
	margin-bottom: 20%;
	
	padding-bottom: 4%;
	
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	background-color: white;
	font-weight: bold;
	padding-left: 0px;
	padding-right: 0px;
}

.banderol
{
	
	background-color: cadetblue;
}

.petit
{
	color:steelblue;
	font-size: 10px;
	text-decoration: underline;
}

.petit:hover
{
	color:red;
}

.messageerreur
{
	font-size: 12px;
	font-weight: bold;
	color:red;
}