/* HEADER */
#header {
	background-color: #354960;
    padding: 5px 20px;
	height: 200px;
}
#header img {
    !margin: 5px 20px;
    height: 100px;
}
#header .form-group {
    margin-top: 50px;
    margin-bottom: 40px;
}
#header button {
    margin: 15px 3px 0 3px;
}

#header #bouton {
    color: #ffffff;
    background-color: #4c2b1a;
}

@media (max-width: 991px) {
    #header .form-group {
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

/* NAVBAR */
#navbar {
    background-color: #456bb7;
    border-color: #3cb0bb;
    !padding: 0 30px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
}
#navbar .navbar-brand {
    color: #fff;
    !padding-right: 5px;
    !padding: 15px 0px;
}
#navbar .navbar-toggler {
    !margin: 10px 0px;
    color: #fff;
}
#navbar .navbar-nav {
	!padding-top: 2px;
    !padding-bottom: 10px;
}

#navbar .navbar-nav > li {

}

@include media-breakpoint-down(lg) {
  .navbar > .navbar-nav > .nav-item > .btn {
	    border-radius: 50%;
  }
}

#navbar .navbar-nav > li > a > .navbar-text {
    color: #fff;
	!padding-top: 6px;
	box-sizing: border-box;
	!border-bottom: 2px solid transparent;
    !border-radius: 5px;
    !padding: 12px 20px;
    !padding: 10%;
}
#navbar .navbar-nav > li > a:hover >.navbar-text  {
	!background-color: #395a9c;
    !color: #fff;
	!outline: 2px solid white;
	border-bottom: 2px solid white;
	margin-bottom: -2px;

    !text-decoration: underline;
}
#navbar .navbar-toggle:hover, #navbar .navbar-toggle:focus {
    background-color: #394988;
}

#navbar .user-icon {
	height: 40px;
	min-width: 1px;
}

#navbar .user-icon img {
	height: 100%;
}

#navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}
