body
{
  max-width: 100%;
  !padding-top: 1%;
  background-color: #eee;
}

.body, footer
{
  background-color: hotpink;
  border: 2px solid black;
  border-radius: 6px;
  !line-height: 40px;
  text-align: center;
}
/* HEADER */
#header {
	background-color: #354960;
    padding: 5px 20px;
}
#header img {
    !margin: 5px 20px;
    height: 100px;
}
#header .form-group {
    margin-top: 50px;
    margin-bottom: 40px;
}
#header button {
    margin: 15px 3px 0 3px;
}

#header #bouton {
    color: #ffffff;
    background-color: #4c2b1a;
}

@media (max-width: 991px) {
    #header .form-group {
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

/* NAVBAR */
#navbar {
    background-color: #456bb7;
    border-color: #3cb0bb;
    padding: 0 30px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
}
#navbar .navbar-brand {
    color: #fff;
    !padding-right: 5px;
    !padding: 15px 0px;
}
#navbar .navbar-toggler {
    !margin: 10px 0px;
    color: #fff;
}
#navbar .navbar-nav {
    !padding-bottom: 10px;
}

#navbar .navbar-nav > li > a {
    color: #ccc;
    !border-radius: 5px;
    !padding: 12px 20px;
    !padding: 10%;
}
#navbar .navbar-nav > li > a:hover  {
	background-color: #395a9c;
    color: #fff;
    !text-decoration: underline;
}
#navbar .navbar-toggle:hover, #navbar .navbar-toggle:focus {
    background-color: #394988;
}

#navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}
