.taille
{
	margin-top: 7%;
	margin-bottom: 20%;
	padding-top: 3%;
	padding-bottom: 4%;
	border: 7px inset cornflowerblue;
	background-color: lightgrey;
	font-weight: bold;
}

.fotext
{
	color: midnightblue;

}


